<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial ch3_app | <%= yield(:title) %></title>
</head>
<body>
<!--
<h1>ch3_app</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  ch3_app
</p>
-->
<div class="center hero-unit">
  <h1>Welcome to the ch3_app</h1>
  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    ch3_app.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
</body>
</html>
